{% load static %}

<div class="tp-header-bottom tp-header-bottom-border d-none d-lg-block">
    <div class="container">
        <div class="tp-mega-menu-wrapper p-relative">
            <div class="row align-items-center">
                <div class="col-xl-3 col-lg-3">
                    <div class="tp-header-category tp-category-menu tp-header-category-toggle">
                        <button class="tp-category-menu-btn tp-category-menu-toggle">
                            <span>
                                <svg width="18" height="14" viewBox="0 0 18 14" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M0 1C0 0.447715 0.447715 0 1 0H15C15.5523 0 16 0.447715 16 1C16 1.55228 15.5523 2 15 2H1C0.447715 2 0 1.55228 0 1ZM0 7C0 6.44772 0.447715 6 1 6H17C17.5523 6 18 6.44772 18 7C18 7.55228 17.5523 8 17 8H1C0.447715 8 0 7.55228 0 7ZM1 12C0.447715 12 0 12.4477 0 13C0 13.5523 0.447715 14 1 14H11C11.5523 14 12 13.5523 12 13C12 12.4477 11.5523 12 11 12H1Z"
                                        fill="currentColor" />
                                </svg>
                            </span>
                            All Departments
                        </button>
                        <nav class="tp-category-menu-content">
                            <ul>
                                <li>
                                    <a href="shop.html">
                                        <span>
                                            <i class="fa-regular fa-house"></i>
                                        </span>
                                        New Arrivals</a>
                                </li>
                                
                                
                                <li class="has-dropdown">
                                    <a href="shop.html">
                                        <span>
                                            <svg width="17" height="16" viewBox="0 0 17 16" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M14.5 1H2.5C1.67157 1 1 1.67157 1 2.5V10C1 10.8284 1.67157 11.5 2.5 11.5H14.5C15.3284 11.5 16 10.8284 16 10V2.5C16 1.67157 15.3284 1 14.5 1Z"
                                                    stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                                                    stroke-linejoin="round" />
                                                <path d="M5.5 14.5H11.5" stroke="currentColor" stroke-width="1.5"
                                                    stroke-linecap="round" stroke-linejoin="round" />
                                                <path d="M8.5 11.5V14.5" stroke="currentColor" stroke-width="1.5"
                                                    stroke-linecap="round" stroke-linejoin="round" />
                                            </svg>
                                        </span>
                                        Computers</a>

                                    <ul class="tp-submenu">
                                        <li class="has-dropdown">
                                            <a href="shop.html">Desktop</a>
                                            <ul class="tp-submenu">
                                                <li><a href="shop.html">Gaming</a></li>
                                                <li><a href="shop.html">WorkSpace</a></li>
                                                <li><a href="shop.html">Customize</a></li>
                                                <li><a href="shop.html">Luxury</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="shop.html">Laptop</a></li>
                                        <li><a href="shop.html">Console</a></li>
                                        <li><a href="shop.html">Top Rated</a></li>
                                    </ul>
                                </li>
                            
                        
                            
                                
                                
                                
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6">
                    <div class="main-menu menu-style-1">
                        <nav class="tp-main-menu-content">
                            {% include 'partials/menu/menu-items.html' %}
                        </nav>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3">
                    <div class="tp-header-contact d-flex align-items-center justify-content-end">
                        <div class="tp-header-contact-icon">
                            <span>
                                <svg width="21" height="20" viewBox="0 0 21 20" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M1.96977 3.24859C2.26945 2.75144 3.92158 0.946726 5.09889 1.00121C5.45111 1.03137 5.76246 1.24346 6.01544 1.49057H6.01641C6.59631 2.05874 8.26011 4.203 8.35352 4.65442C8.58411 5.76158 7.26378 6.39979 7.66756 7.5157C8.69698 10.0345 10.4707 11.8081 12.9908 12.8365C14.1058 13.2412 14.7441 11.9219 15.8513 12.1515C16.3028 12.2459 18.4482 13.9086 19.0155 14.4894V14.4894C19.2616 14.7414 19.4757 15.0537 19.5049 15.4059C19.5487 16.6463 17.6319 18.3207 17.2583 18.5347C16.3767 19.1661 15.2267 19.1544 13.8246 18.5026C9.91224 16.8749 3.65985 10.7408 2.00188 6.68096C1.3675 5.2868 1.32469 4.12906 1.96977 3.24859Z"
                                        stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                    <path d="M12.936 1.23685C16.4432 1.62622 19.2124 4.39253 19.6065 7.89874"
                                        stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                    <path d="M12.936 4.59337C14.6129 4.92021 15.9231 6.23042 16.2499 7.90726"
                                        stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                        stroke-linejoin="round" />
                                </svg>
                            </span>
                        </div>
                        <div class="tp-header-contact-content">
                            <h5>Hotline:</h5>
                            <p><a href="tel:402-763-282-46">+(402) 763 282 46</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>